// Colors 
$color-header-logo-text: #ffffff;
$color-header-text: #f6f9fa;
$color-button-border: #f6f6f6;
$color-heading: #333333;
$color-text: #888888;

$color-line-light: #ffffff;
$color-line-dark: #000000;

// Fonts