* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 53px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 0.53px;
}

h3 {
  color: #333333;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-transform: uppercase;
}

h4 {
  color: #474747;
  font-family: "proxima_novaregular";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.line {
  height: 1px;
}

.short {
  width: 20px;
  display: inline-block;
}

.long {
  width: 100%;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #000000;
}

.opacity {
  opacity: 0.1;
}

.margin {
  margin-bottom: 5px;
  margin-right: 9px;
}

.button {
  display: inline-block;
  padding: 25px 35px;
  border: 2px solid #f6f6f6;
  color: #f6f9fa;
  font-family: "proxima_novaregular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;
  margin-top: 40px;
}

.link {
  color: #ef443a;
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
}

.wrapper {
  width: 1214px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: linear-gradient(to top, #0000004d 0%, #0000004d 100%), url("../img/header/header-bg-back.png") center no-repeat;
  padding: 51px 0px 218px;
}

.header__logo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.header__logo .header__logo-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "proxima_novaregular";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.33px;
  margin-left: 13px;
  padding-top: 5px;
}

.header__content {
  margin-top: 180px;
  max-width: 589px;
}
.header__content .header__content-title {
  max-width: 493px;
  color: #f6f9fa;
  font-family: "Gotham Rounded Light";
  font-size: 48px;
  font-weight: 300;
  line-height: 57px;
  letter-spacing: 0.48px;
}
.header__content .header__content-content {
  color: #f6f9fa;
  font-family: "proxima_novaregular";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin: 39px 0px 36px;
}

.our_services {
  background-color: #f6f6f6;
  padding: 289px 0px 355px;
}

.our_services-left {
  flex-basis: 397px;
}
.our_services-left .our_services-title {
  margin-bottom: 6px;
}
.our_services-left .our_services-content {
  margin-top: 56px;
  color: #888888;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.our_services-right {
  flex-basis: 559px;
  position: relative;
}
.our_services-right .row-1, .our_services-right .row-2, .our_services-right .row-3 {
  transform: rotate(-45deg);
  display: flex;
  position: absolute;
}
.our_services-right .row-1 {
  top: 0;
  left: -292px;
}
.our_services-right .row-2 {
  top: 0;
  left: -5px;
}
.our_services-right .row-3 {
  top: -72px;
  right: -292px;
}
.our_services-right .row_item {
  width: 193px;
  height: 193px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.our_services-right .row_item .row_item_icon, .our_services-right .row_item h4 {
  position: absolute;
  transform: rotate(45deg);
}
.our_services-right .row_item .row_item_icon {
  top: 60px;
  right: 65px;
}
.our_services-right .row_item h4 {
  text-align: center;
  margin-top: 20px;
  margin-left: -20px;
}
.our_services-right .row_item:hover {
  background-color: #28282e;
  cursor: pointer;
}
.our_services-right .row_item:hover h4 {
  color: #ffffff;
}
.our_services-right .row_item:not(:last-child) {
  margin-right: 10px;
}

.our_works {
  padding: 121px 0px 118px;
}

.our_works-title {
  margin-bottom: 6px;
}

.our_works-right {
  flex-basis: 429px;
  margin-right: 173px;
}
.our_works-right .our_works-content {
  color: #888888;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.project {
  background-color: #28282e;
  padding: 244px 0px 268px;
}

.project_description {
  flex-basis: 462px;
}
.project_description .project-title {
  text-transform: none;
  color: #ffffff;
  letter-spacing: normal;
  margin-bottom: 17px;
}
.project_description .project-content {
  color: #ffffff;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 56px;
  margin-bottom: 72px;
}

.project_presentation {
  flex-basis: 561px;
  height: 380px;
}
.project_presentation .device {
  max-width: 552px;
  height: 380px;
  top: -72px;
}
.project_presentation .device .device_item {
  text-align: center;
}
.project_presentation .device .device_item img {
  width: auto;
  margin: 0 auto;
}
.project_presentation .device .owl-dots button:not(:first-child) {
  margin-right: 20px;
}
.project_presentation .device .owl-dots button span {
  width: 75px;
  height: 46px;
  border-radius: 0px !important;
}
.project_presentation .device .owl-dots button:nth-child(1) span {
  background: url("../img/project/icon-mob.png") center no-repeat !important;
  opacity: 0.2;
}
.project_presentation .device .owl-dots button:nth-child(2) span {
  background: url("../img/project/icon-tab.png") center no-repeat !important;
  opacity: 0.2;
}
.project_presentation .device .owl-dots button:nth-child(3) span {
  background: url("../img/project/icon-mac.png") center no-repeat !important;
  opacity: 0.2;
}
.project_presentation .device .owl-dots .active span {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

.slider_dots .slider_dot {
  width: 3px;
  height: 25px;
  background-color: #ffffff;
  opacity: 0.2;
}
.slider_dots .slider_dot:hover {
  cursor: pointer;
  opacity: 1;
}
.slider_dots .slider_dot:not(:last-child) {
  margin-bottom: 10px;
}

.read_our_minds {
  padding: 119px 0px 0px;
}

.our_minds-title {
  margin-bottom: 6px;
}

.our_minds-right {
  flex-basis: 429px;
  margin-right: 173px;
}
.our_minds-right .our_minds-content {
  color: #888888;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.main_item_box {
  color: #999999;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 120px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.main_item_box .main_item_title {
  flex-basis: 630px;
}
.main_item_box .main_item_date, .main_item_box .main_item_who {
  flex-basis: 150px;
}

.item_box {
  padding: 40px 30px;
}
.item_box .title {
  flex-basis: 600px;
}
.item_box .title .description {
  margin-top: 37px;
  color: #888888;
  font-family: "proxima_novaregular";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.item_box .date, .item_box .who {
  flex-basis: 150px;
  color: #333333;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-transform: uppercase;
}

.current {
  background-image: url("../img/read-our-minds/item-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.current .title h3, .current .title .description {
  color: #ffffff;
}
.current .date, .current .who {
  color: #ffffff;
}

.link {
  margin: 40px auto;
  text-align: center;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}

.teams {
  background-color: #f6f6f6;
  padding: 289px 0px 381px;
}

.teams_info {
  flex-basis: 410px;
}
.teams_info .teams_info_title {
  margin-bottom: 22px;
}
.teams_info .teams_info_text {
  margin-top: 51px;
  color: #888888;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.teams_album {
  flex-basis: 650px;
  position: relative;
}
.teams_album .row-1, .teams_album .row-2, .teams_album .row-3 {
  transform: rotate(-45deg);
  width: 600px;
  height: 193px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.teams_album .row-1 {
  top: -55px;
  left: -215px;
}
.teams_album .row-2 {
  top: -55px;
  left: 70px;
}
.teams_album .row-3 {
  top: -55px;
  left: 355px;
}
.teams_album .row_item {
  width: 193px;
  height: 193px;
  display: flex;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}
.teams_album .row_item img {
  width: 193px;
  height: 193px;
}
.teams_album .row_item:last-child {
  margin-right: 0px;
}
.teams_album .row_item:hover {
  cursor: pointer;
}
.teams_album .row_item:hover .row_item-rectangle {
  top: 76px;
  transition: top 0.3s linear 0s;
}
.teams_album .row_item .row_item-rectangle {
  width: 273px;
  height: 137px;
  background-color: #ef4035;
  opacity: 0.9;
  position: absolute;
  transform: rotate(45deg);
  top: 269px;
  left: -89px;
}
.teams_album .row_item .row_item-rectangle .row_item-rectangle-name {
  color: #ffffff;
  font-family: "proxima_novaregular";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 7px;
}
.teams_album .row_item .row_item-rectangle .row_item-rectangle-post {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  text-align: center;
}

.slow_life {
  background-color: #28282e;
  padding: 138px 0px 152px;
}

.slow_life-title {
  color: #f6f6f6;
  font-family: "Merriweather", serif;
  font-size: 39px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  text-transform: none;
}

.slow_life-description {
  max-width: 660px;
  color: #f6f6f6;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 60px auto 55px;
}

.slow_life-slider .owl-dots {
  margin-top: 58px !important;
}
.slow_life-slider .owl-dots button:not(:last-child) {
  margin-right: 35px;
}
.slow_life-slider .owl-dots button span {
  background-color: #1e1e20 !important;
}
.slow_life-slider .owl-dots .active span {
  background-color: #ffffff !important;
}

.lets_talk {
  background-color: #ef4035;
  text-align: center;
  padding: 54px 0px;
}
.lets_talk a {
  color: #ffffff;
  font-family: "proxima_novaregular";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.footer {
  background-color: #28282e;
  padding: 71px 0px;
}
.footer a {
  color: #76767b;
  font-family: "proxima_novaregular";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.97px;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
