.lets_talk {
    background-color: #ef4035;
    text-align: center;
    padding: 54px 0px;
    a {
        color: #ffffff;
        font-family: 'proxima_novaregular';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: none;
    }
}