.line {
    height: 1px;
} 

.short {
    width: 20px;
    display: inline-block;
} 

.long {
    width: 100%;
} 

.light {
    background-color: $color-line-light;
}

.dark {
    background-color: $color-line-dark;
}

.opacity {
    opacity: 0.1;
}

.margin {
    margin-bottom: 5px;
    margin-right: 9px;
}